<%- include("./partials/header") %>
<title>Content Unavailable • Instagram</title>
<link rel="stylesheet" href="/css/broken.css" />
<div class="banner">
        <div class="container">
          <a href="https://www.instagram.com/" class="navbar-brand logo"
            ><img src="/brokenlogo.png" alt=""
          /></a>
        </div>
      </div>
      
      <div class="d-flex flex-column justify-content-center align-items-center main-body px-5">
        <p class="sorry">Sorry, this page isn't available.</p>
        <p class="sub-heading mx-auto text-center">The link you followed may be broken, or the page may have been removed.<a href="https://www.instagram.com/"> Go back to Instagram.</a></p>
      </div>
      
      <!-- <div style="height: 100vh;"></div> -->
      
      <footer class="container">
          <div class="d-flex flex-column flex-md-row justify-content-between container footer-container">
              <ul class="" style="list-style: none;width: 500px;">
                <li class="footer-list"><a class="" href="https://www.instagram.com/about/us/">About us</a></li>
                <li class="footer-list"><a class="" href="https://help.instagram.com/">Support</a></li>
                <li class="footer-list"><a class="" href="https://instagram-press.com/">Press</a></li>
                <li class="footer-list"><a class="" href="https://www.instagram.com/developer/">API</a></li>
                <li class="footer-list"><a class="" href="https://www.instagram.com/about/jobs/">Jobs</a></li>
                <li class="footer-list"><a class="" href="https://www.instagram.com/legal/privacy/">Privacy</a></li>
                <li class="footer-list"><a class="" href="https://www.instagram.com/legal/terms/">Terms</a></li>
                </li>
              </ul>
      <span class="copyright">© 2021 INSTAGRAM</span>
          </div>
      </footer>
<%- include("./partials/footer") %>
